@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
    background-color: #d21034;
    font-family: "Montserrat",sans-serif;
    color:white;
    text-align:center;
}

#girls_coding_image {
    opacity: 65%;
}

#logo {
    width:20%;
    background-color:white;
    padding:1em;
}

footer {
    margin-top: 3em;
    border-top: 2px groove white;
    padding-top: 1em;
}